.header {
    font-size: 20px;
    line-height: 1.5;
    margin: 60px auto;
}
.header span {
    display: block;
}
/* .container, .col-lg-6 { */
    /* border: 2px solid red;  */
/* } */
.form-header, .section-header {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
}
.form {
    border: 5px solid #2727d9;
    padding: 30px 20px;
}
.btn-form {
    margin: 13px auto;
    background-color: #2727d9;
}
.form input {
    margin-bottom: 12px;
}
.section {
    background-color: rgba(0,255,0,0.4);
    padding: 30px;
}
.feature {
    margin-top: 60px;
}
.feature p {
    margin-top: 20px;
} 
.video {
    margin-bottom: 30px;
}
.feature-box {
    height: 160px;
}