.container {
    width: 1920px;
}
.menu {
    display: flex;
    justify-content: space-around;
    width: 1918px;
    height: 50px;
}
.menu__block {
    display: flex;
    justify-content: space-around;
    font-weight: 800;
    align-items: center;
    border: 1px #ffffff solid;
    color: #ffffff;
    width: 480px;
    font-size: 20px;
    transition: 0.8s;
    background: linear-gradient(rgb(211, 11, 11), rgb(202, 135, 9));
}
.menu__block:hover{
    scale: 1.07;
}
img {
    object-fit: cover;
    width: 1920px;
    height: 100vh;
}
footer {
    display: flex;
    justify-content: space-around;
    padding: 60px;
    background: rgb(124, 122, 122);
}
.footer__form__input {
    width: 600px;
    height: 400px;
    justify-content: space-around;
}
.data_input {
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid rgb(0, 0, 0);
}
.button_application {
    width: 300px;
    background: linear-gradient(rgb(212, 32, 32), rgb(204, 135, 6));
    font-size: 25px;
    color: #ffffff;
    border: none;
    transition: 0.8s;
}
.button_application:hover{
    scale: 1.05;
}
.second-section {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(rgba(190, 57, 57, 0.63), rgb(184, 166, 6));
}
.second-section__block {
    width: 400px;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
}
h2 {
    display: inline-block;
}