.container {
  position: relative;
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
}

.first-section {
  padding-left: 115px;
  padding-top: 0px;
  padding-right: 15px;
  background: #141024;
  color: #ffffff;
}

input {
  border-radius: 5px;
  border: none;
  padding-left: 7px;
}

.menu__navigation {
  margin-right: 445px;
  font-size: 20px;
  display: inline-block;
}

.number {
  display: inline-block;
  color: #ffffff;
  margin-right: 40px;
}

.name {
  font-size: 30px;
  margin-right: 470px;
  display: inline-block;
  color: #ffffff;
}

.sign {
  width: 530px;
  margin: 250px 0 0 265px;
}
.sign__name {
  font-size: 70px;
  margin: 0 0 20px 0;
}
.sign__text {
  margin: 0 0 50px 0;
  font-size: 20px;
}
.sign__img {
  height: 917px;
  flex-shrink: 0;
  margin-left: 941px;
}

.button {
  border: none;
  font-size: 18px;
  color: #fff;
  width: 260px;
  height: 80px;
  border-radius: 1em;
  background: #D52027;
}

.second-section__block {
  padding: 120px 0 120px 0;
  margin-left: 380px;
  width: 1160px;
}

.text {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

.info_about_school {
  transition: 0.4s;
}

.info_about_school:hover {
  transform: scale(1.07);
}

.text-concept {
  width: 890px;
  font-size: 30px;
  font-style: normal;
  margin-bottom: 60px;
}
.text-concept span {
  font-weight: 600;
}

.info {
  display: flex;
  justify-content: space-between;
}
.info span {
  color: #D52027;
  font-size: 70px;
  font-weight: 600;
  font-style: normal;
}

.third-section {
  padding: 100px 0;
  width: 1920px;
  background: #F9F9F9;
  margin-bottom: 120px;
}
.third-section__block {
  margin-left: 380px;
  width: 1160px;
}

.title-info {
  margin-top: 0;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 60px;
}

.third-section-block-text {
  display: flex;
  justify-content: space-between;
}
.third-section-block-text__info {
  display: inline-block;
  width: 360px;
}
.third-section-block-text__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 20px;
}

.fourth-section {
  position: relative;
  width: 1160px;
  margin-left: 380px;
}
.fourth-section__cards {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.fourth-section__cards img {
  height: 500px;
}
.fourth-section__cards p {
  padding: 0;
  margin-top: 0;
}
.fourth-section img {
  width: 360px;
  margin-bottom: 20px;
}
.fourth-section__cards__card__frame-img {
  margin-bottom: 20px;
}

.name-teacher {
  color: #141024;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 10px;
}

.name-information {
  color: rgba(20, 16, 36, 0.7);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 20px;
}

.more-details {
  color: #D52027;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
}

.card__more_information {
  display: none;
  position: absolute;
  z-index: 90;
  margin-left: 110px;
  width: 940px;
  height: 770px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
}
.card__more_information__block {
  display: flex;
}
.card__more_information__block img {
  border-radius: 20px;
}
.card__more_information button {
  display: inline-block;
  border: none;
  background: none;
  color: rgba(20, 16, 36, 0.7);
  text-align: right;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.card__more_information__info_list {
  display: flex;
  justify-content: space-around;
}
.card__more_information__info_list__elem {
  margin: 40px;
}
.card__more_information__edu_info {
  width: 860px;
  color: #141024;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-left: 40px;
}
.card__more_information__edu_info__elem p {
  font-weight: 900;
}
.card__more_information hr {
  width: 860px;
  height: 1px;
  background: rgba(20, 16, 36, 0.11);
  margin: 20px;
}
.card__more_information__img_info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 40px;
}
.card__more_information__img_info img {
  width: 160px;
  height: 222px;
  flex-shrink: 0;
  display: inline-block;
}
.card__more_information__img_info__social_media {
  display: inline-block;
  margin-left: 40px;
}
.card__more_information__img_info__social_media i img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.card__more_information__img_info__social_media span {
  color: #141024;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.card__more_information__img_info__social_media p {
  color: rgba(20, 16, 36, 0.7);
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.title-info {
  margin-bottom: 60px;
}

.button-block {
  margin-left: 900px;
  width: 90px;
  max-height: 90px;
  display: flex;
  justify-content: space-between;
}
.button-block__icons {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.button-block__icons__icon {
  width: 33px;
  height: 33px;
  flex-shrink: 0;
}

.slider img {
  width: 360px;
  border-radius: 20px;
}

.fifth-section {
  width: 1160px;
  margin-left: 380px;
  margin-bottom: 120px;
}
.fifth-section__price-cards {
  display: flex;
  justify-content: space-between;
}
.fifth-section__price-cards__price-card {
  width: 360px;
  height: 500px;
  border-radius: 20px;
  border: 1px solid rgba(20, 16, 36, 0.2);
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.fifth-section__price-cards__price-card h2 {
  text-align: center;
  font-family: Jost;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
}
.fifth-section__price-cards__price-card h3 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
}
.fifth-section__price-cards__price-card:first-child {
  background: #141024;
  color: #ffffff;
  transition: 0.4s;
}
.fifth-section__price-cards__price-card:first-child:hover {
  transform: scale(1.06);
}

.footer {
  position: relative;
  width: 1920px;
  height: 460px;
  background: #D52027;
}
.footer img {
  position: absolute;
  display: inline-block;
  width: 1920px;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 0;
}
.footer__form {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 1160px;
  margin-left: 380px;
}
.footer__form__text {
  padding-top: 105px;
}
.footer__form__text h1 {
  width: 476px;
  color: #FFF;
  font-family: Jost;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
}
.footer__form__text p {
  color: #FFF;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-right: 145px;
}
.footer__form__input {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding-top: 90px;
}

.data_input {
  width: 500px;
  height: 64px;
  flex-shrink: 0;
  margin-bottom: 10px;
}

.button_application {
  width: 508px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #141024;
  border: none;
  z-index: 1;
}
.button_application p {
  color: #FFF;
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1920px;
  height: 160px;
  background: #141024;
}

@media (max-width: 1199px) {
  .container {
    width: 991px;
    margin: 0 auto;
  }
  .first-section {
    padding-left: 80px;
    padding-top: 0px;
    padding-right: 15px;
    background: #141024;
    color: #fff;
  }
  .sign {
    width: 530px;
    margin: 210px 0 0 110px;
  }
  .sign__name {
    font-size: 70px;
    margin: 0 0 20px 0;
  }
  .sign__text {
    margin: 0 0 50px 0;
    font-size: 20px;
  }
  .sign__img {
    height: 650px;
    flex-shrink: 0;
    margin-left: 15px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
  }
  .menu__navigation {
    margin-right: 0;
    font-size: 20px;
    display: inline-block;
  }
  .menu__navigation p {
    margin-right: 40px;
    display: inline-block;
  }
  .menu__navigation p:last-child {
    margin-right: 0;
  }
  .menu__number {
    font-size: 25px;
  }
  .name {
    font-size: 30px;
    margin-right: 0px;
    display: inline-block;
    color: #ffffff;
  }
  .second-section__block {
    margin-left: 0px;
    width: 960px;
  }
  .text-concept {
    width: 960px;
    margin-left: 15px;
  }
  .info {
    display: flex;
    justify-content: space-around;
  }
  .info span {
    color: #D52027;
    font-size: 70px;
    font-weight: 600;
    font-style: normal;
  }
  .info_about_school {
    margin-bottom: 15px;
    width: 200px;
  }
  .third-section {
    padding: 100px 0;
    width: 960px;
    background: #F9F9F9;
    margin-bottom: 120px;
  }
  .third-section__block {
    margin-left: 15px;
    width: 960px;
  }
  .third-section-block-text {
    display: flex;
    justify-content: space-around;
  }
  .third-section-block-text__info {
    width: 230px;
  }
  .fourth-section {
    position: relative;
    width: 960px;
    margin-left: 15px;
    margin-bottom: 100px;
  }
  .fourth-section__cards {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 960px;
  }
  .fourth-section__cards img {
    height: 500px;
  }
  .slick-slide img {
    width: 300px;
    height: 455px;
  }
  .fifth-section {
    width: 960px;
    margin-left: 15px;
  }
  .fifth-section__price-cards__price-card {
    width: 300px;
    height: 455px;
    margin-right: 20px;
  }
  .fifth-section__price-cards__price-card .text {
    text-align: center;
  }
  .fifth-section__price-cards__price-card .button {
    border: none;
    width: 170px;
    height: 50px;
  }
  .footer {
    position: relative;
    width: 960px;
    height: 800px;
    background: #D52027;
    display: flex;
  }
  .footer img {
    width: 960px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-top: 570px;
  }
  .footer__form {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
  }
  .footer__text {
    height: 200px;
  }
  .map-section {
    width: 960px;
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
  }
  .map-section iframe {
    width: 100%;
  }
  .footer-info {
    width: 960px;
  }
  .footer-info__number {
    font-size: 30px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 720px;
    height: auto;
    margin: 0 auto;
  }
  .first-section {
    padding-left: 15px;
    padding-top: 0px;
    padding-right: 15px;
    background: #141024;
    color: #ffffff;
  }
  .sign {
    width: 530px;
    margin: 250px 0 0 115px;
  }
  .sign__name {
    font-size: 70px;
    margin: 0 0 20px 0;
  }
  .sign__text {
    margin: 0 0 50px 0;
    font-size: 20px;
  }
  .sign__img {
    height: 570px;
    flex-shrink: 0;
    margin-left: 200px;
  }
  .menu {
    max-width: 720px;
    display: flex;
    justify-content: space-between;
  }
  .menu__number {
    margin-top: 25px;
    font-size: 20px;
    width: 160px;
    margin-right: 0;
  }
  .menu__navigation {
    width: 400px;
    margin-right: 0;
    font-size: 20px;
    display: inline-block;
  }
  .menu__navigation p {
    margin-right: 40px;
    display: inline-block;
  }
  .menu__navigation::last-child {
    margin-right: 0px;
  }
  .name {
    font-size: 20px;
    margin-right: 20px;
    display: inline-block;
    color: #ffffff;
  }
  .number {
    font-size: 20px;
  }
  .second-section__block {
    width: 720px;
  }
  .text-concept {
    width: 720px;
  }
  .info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .info span {
    color: #D52027;
    font-size: 70px;
    font-weight: 600;
    font-style: normal;
  }
  .info_about_school {
    margin-bottom: 15px;
    width: 230px;
    margin-bottom: 20px;
    font-size: 19px;
  }
  .third-section {
    padding: 100px 0;
    width: 720px;
    background: #F9F9F9;
    margin-bottom: 120px;
  }
  .third-section__block {
    width: 720px;
  }
  .fourth-section {
    position: relative;
    width: 720px;
  }
  .fourth-section__cards {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 718px;
  }
  .fourth-section__cards img {
    height: 500px;
  }
  .slick-slide img {
    width: 230px;
    height: 320px;
  }
  .fifth-section {
    width: 720px;
  }
  .fifth-section__price-cards__price-card {
    width: 230px;
    height: 400px;
  }
  .fifth-section__price-cards__price-card .text {
    text-align: center;
  }
  .fifth-section__price-cards__price-card .button {
    border: none;
    width: 170px;
    height: 50px;
  }
  .footer {
    position: relative;
    width: 720px;
    height: 800px;
    background: #D52027;
    display: flex;
  }
  .footer img {
    width: 720px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-top: 626px;
  }
  .footer__form {
    display: flex;
    flex-direction: column;
    margin-left: 110px;
  }
  .footer-info {
    width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 540px;
    margin: 0 auto;
  }
  .menu__navigation {
    position: absolute;
    width: 50%;
    top: 8px;
    right: -100%;
    height: 100vh;
    padding: 10px;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    z-index: 20;
    transition: 1s all;
  }
  .menu__navigation p {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 20%;
    font-size: 30px;
  }
  .menu__number {
    display: none;
  }
  .humburger {
    width: 30px;
    position: absolute;
    top: 40px;
    right: 30px;
    height: 14px;
  }
  .humburger span {
    height: 2px;
    width: 100%;
    display: block;
    background: #fff;
    margin-bottom: 4px;
    transition: 1s all;
  }
  .humburger span:last-child {
    margin-bottom: 0;
  }
  .humburger_active {
    z-index: 21;
    color: #fff;
    position: absolute;
  }
  .humburger_active span {
    margin-bottom: -2px;
  }
  .humburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .humburger_active span:nth-child(2) {
    display: none;
  }
  .humburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  .menu__navigation_active {
    right: 0px;
    top: 0;
  }
  .sign {
    width: 330px;
    margin: 100px auto;
  }
  .sign__name {
    font-size: 70px;
    margin: 0 0 20px 0;
  }
  .sign__text {
    margin: 0 0 50px 0;
    font-size: 20px;
  }
  .sign__img {
    height: 430px;
    flex-shrink: 0;
    margin-left: -90px;
  }
  .menu {
    max-width: 540px;
    display: flex;
    justify-content: space-between;
  }
  .menu__number {
    margin-top: 25px;
    font-size: 20px;
    width: 160px;
    margin-right: 0;
  }
  .menu__navigation {
    width: 400px;
    margin-right: 0;
    font-size: 20px;
    display: inline-block;
  }
  .menu__navigation p {
    margin-right: 40px;
    display: inline-block;
  }
  .menu__navigation::last-child {
    margin-right: 0px;
  }
  .name {
    font-size: 20px;
    margin-right: 20px;
    display: inline-block;
    color: #ffffff;
  }
  .number {
    font-size: 20px;
  }
  .second-section__block {
    width: 540px;
  }
  .text-concept {
    width: 525px;
  }
  .info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .info span {
    color: #D52027;
    font-size: 70px;
    font-weight: 600;
    font-style: normal;
  }
  .info_about_school {
    margin-bottom: 15px;
    width: 230px;
    margin-bottom: 20px;
    font-size: 19px;
  }
  .third-section {
    padding: 100px 0;
    width: 540px;
    background: #F9F9F9;
    margin-bottom: 120px;
  }
  .third-section__block {
    width: 540px;
  }
  .third-section-block-text {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .third-section-block-text__info {
    margin-bottom: 20px;
  }
  .title-info {
    width: 540px;
    font-size: 45px;
  }
  .fourth-section {
    position: relative;
    width: 540px;
  }
  .fourth-section__cards {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 718px;
  }
  .fourth-section__cards img {
    height: 500px;
  }
  .slick-slide img {
    width: 230px;
    height: 320px;
  }
  .fifth-section {
    width: 540px;
  }
  .fifth-section__price-cards {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .fifth-section__price-cards__price-card {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
  }
  .fifth-section__price-cards__price-card .text {
    text-align: center;
    font-size: 19px;
  }
  .fifth-section__price-cards__price-card .button {
    border-radius: 1rem;
    border: none;
    width: 170px;
    height: 50px;
  }
  .footer {
    position: relative;
    width: 540px;
    height: 800px;
    background: #D52027;
    display: flex;
  }
  .footer img {
    width: 540px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-top: 670px;
  }
  .footer__form {
    width: 400px;
  }
  .data_input {
    width: 300px;
    height: 40px;
  }
  .footer-info {
    width: 540px;
  }
  .button_application {
    width: 309px;
  }
  .map-section {
    width: 540px;
  }
  .map-section iframe {
    width: 540px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .menu__navigation {
    position: absolute;
    width: 50%;
    top: 8px;
    right: -100%;
    height: 100vh;
    padding: 10px;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    z-index: 20;
    transition: 2s all;
  }
  .menu__navigation p {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 20%;
    font-size: 30px;
  }
  .menu__number {
    display: none;
  }
  .humburger {
    width: 30px;
    position: absolute;
    top: 40px;
    right: 30px;
    height: 14px;
  }
  .humburger span {
    height: 2px;
    width: 100%;
    display: block;
    background: #fff;
    margin-bottom: 4px;
    transition: 1s all;
  }
  .humburger span:last-child {
    margin-bottom: 0;
  }
  .humburger_active {
    z-index: 21;
    color: #fff;
    position: absolute;
  }
  .humburger_active span {
    margin-bottom: -2px;
  }
  .humburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .humburger_active span:nth-child(2) {
    display: none;
  }
  .humburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  .menu__navigation_active {
    right: 0px;
    top: 0;
  }
  .sign {
    width: 330px;
    margin: 100px auto;
  }
  .sign__name {
    font-size: 70px;
    margin: 0 0 20px 0;
  }
  .sign__text {
    margin: 0 0 50px 0;
    font-size: 20px;
  }
  .sign__img {
    height: 430px;
    flex-shrink: 0;
    margin-left: -200px;
  }
  .menu {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .menu__number {
    margin-top: 25px;
    font-size: 20px;
    width: 160px;
    margin-right: 0;
  }
  .menu__navigation {
    width: 400px;
    margin-right: -40px;
    font-size: 20px;
    display: inline-block;
  }
  .menu__navigation p {
    margin-right: 40px;
    display: inline-block;
  }
  .menu__navigation::last-child {
    margin-right: 0px;
  }
  .name {
    font-size: 20px;
    margin-right: 20px;
    display: inline-block;
    color: #ffffff;
  }
  .number {
    font-size: 20px;
  }
  .second-section__block {
    width: 100%;
  }
  .text-concept {
    max-width: 90%;
  }
  .info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .info span {
    color: #D52027;
    font-size: 70px;
    font-weight: 600;
    font-style: normal;
  }
  .info_about_school {
    margin-bottom: 15px;
    width: 230px;
    margin-bottom: 20px;
    font-size: 19px;
  }
  .third-section {
    padding: 100px 0;
    width: 100%;
    background: #F9F9F9;
    margin-bottom: 120px;
  }
  .third-section__block {
    width: 100%;
  }
  .third-section-block-text {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .third-section-block-text__info {
    margin-bottom: 20px;
  }
  .title-info {
    width: 90%;
    height: auto;
    font-size: 35px;
  }
  .fourth-section {
    position: relative;
    width: 100%;
  }
  .fourth-section__cards {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 65%;
  }
  .fourth-section__cards img {
    height: 500px;
  }
  .slick-slide img {
    width: 230px;
    height: 320px;
  }
  .fifth-section {
    width: 100%;
    margin: 0 auto;
  }
  .footer {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 800px;
    background: #D52027;
    display: flex;
  }
  .footer img {
    display: inline-block;
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    margin-top: 183%;
  }
  .footer__form {
    margin: 0 auto;
    width: 80%;
  }
  .footer__form h1 {
    margin: 0 auto;
    width: 200px;
  }
  .footer__form p {
    width: 200px;
    margin: 0 auto;
  }
  .data_input {
    margin: 5px auto;
    width: 60%;
    height: 40px;
  }
  .footer-info {
    width: 100%;
  }
  .button_application {
    margin: 10px auto;
    width: 63%;
    height: 40px;
  }
  .map-section {
    width: 100%;
  }
  .map-section iframe {
    width: 96%;
  }
}/*# sourceMappingURL=style.css.map */