.header {
    background-color: #96b7be;
    width: 1000px;
    height: 130px;
    margin-top: 2px;
    
}
.head {
    display: inline-block;
    font-size: 20px;
    vertical-align: text-top;
}
.simplisity {
    width: 360px;
    height: 70px;
    text-transform: uppercase;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 35px;
    color: #fff;
}
.home {
    width: 165px;
    height: 70px;
    text-align-last: right;
    margin-top: 45px;
    color: #181d1f;
}
.services {
    width: 165px;
    height: 70px;
    text-align: right;
    margin-top: 45px;
    color: #181d1f;
}
.link-text {
    width: 165px;
    height: 70px;
    text-align: right;
    margin-top: 45px;
    color: #181d1f;
}
.body {
    background-color: #cbdde1;
    width: 1000px;
    height: 400px;
    margin-top: 0px;
    position: relative;
}
.photo {
    vertical-align: bottom;
    text-align: center;
    display: inline-block;
    width: 420px;
    height: 320px;
    margin-top: 40px;
    margin-left: 20px;
    background-color: #82afb5;
    position: absolute;
}
.body1 {
    width: 450px;
    height: 210px;
    margin-left: 530px;
    margin-top: 165px;
    display: inline-block;
    position: absolute;
    
}
.egetet {
    width: 450px;
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    border-bottom: #181d1f;
    vertical-align: top;
}
.text {
    margin-top: 70px;
    border-top: #181d1f 1px solid;
    color: #575e67;
    font-size: 14px;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.ftr {
    margin: 152px 0px;
    color: #ffffff;
    font-size: 30px;
}
.find {
    border: 1px #b6b5bb solid;
    color: #45555c;
    padding: 0px 20px;
}
.lipsum {
    display: inline-block;
    height: 65px;
    width: 200px;
    margin-left: 20px;
    margin-right: 25px;
    margin-top: 25px;
    border-bottom: 1px solid #96b7be;
    padding: 0px 0px 25px 0px;
}
.word {
    text-transform: uppercase;
    font-size: 13px;
}
.null {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}
.box {
    width: 1000px;
    border-bottom: 1px solid #82afb5;
    padding-bottom: 20px;
}
.pht {
    height: 200px;
    width: 200px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 23px;
    margin-top: 20px;
    border: 1px #82afb5 double;
}
.square {
    border: #82afb5 solid 1px;
    margin: 7px;
    height: 186px;
    color: #fff;
    background-color: #82afb5;
    text-align: center;
}
.feature {
    margin-top: 85px;
}
.about {
    word-spacing: 5px;
    margin-left: 20px;
    display: block;
    width: 630px;
    border-bottom: 1px solid #82afb5;
}
.pht1 {
    display: inline-block;
    width: 300px;
    height: 75px;
    border-bottom: 1px solid #82afb5;
    margin-left: 30px;
    margin-top: 30px;
    padding-bottom: 15px;
}
.sqr {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: #82afb5 1px solid;
    background-color: #82afb5;
}
.fetr {
    font-size: 10px;
    margin-top: 25px;
    text-align: center;
}
.nul {
    display: inline-block;
    width: 220px;
}
.this {
    display: inline-block;
    width: 620px;
    height: 185px;
    margin-left: 20px;
    white-space: pre-line;
    font-size: 10px;
}
.ipsum {
    display: inline-block;
    width: 300px;
    height: 85px;
    font-size: 10px;
    margin-top: 20px;
}
.foot {
    width: 1000px;
    height: 230px;
}
.foot1 {
    background-color: #cfe1e1;
    margin-top: 30px;
}
.knee {
    display: inline-block;
    width: 310px;
    height: 170px;
    margin-left: 20px;
    color: #666666;
    font-size: 20px;
}
.block {
    border-bottom: 1px solid #666666;
}
.foot2 {
    background-color: #054451;
    margin-bottom: 0px;
}
.word1 {
    display: inline-block;
    color: #ffe5e5;
    font-size: 10px;
    margin-left: 20px;

}
.word2 {
    float: right;
    display: inline-block;
    color: #ffe5e5;
    font-size: 10px;
    margin-right: 20px;
} 
